<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/index.png" />
    <title>@ViewBag.Title - InfoServ ChatRoom</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                
                    <nav class="navbar navbar-expand-md navbar-light w-100">
                        <a class="navbar-brand" href="/home/index">
                            <img class="img-fluid" alt="Logo" src="@Url.Content("~/index.png")" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse w-100 order-1 order-md-0" id="navbarNavAltMarkup">
                            <div class="navbar-nav font-weight-bold">
                                <ul class="nav navbar-nav">
                                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                                    <li class="ml-2">@Html.ActionLink("Chat", "Chat", "Home")</li>
                                    <li class="ml-2">@Html.ActionLink("Code", "Index", "Code")</li>
                                    <li class="ml-2">@Html.ActionLink("Messages", "Index", "Message")</li>
                                </ul>
                            </div>
                        </div>
                         @Html.Partial("_LoginPartial")
                    </nav>
                </div>
            </div>
        </div>
    </div>




    <div class="container body-content">
        @RenderBody()
        <hr />
        @*mt-auto py-3*@
        <footer class="mt-auto py-3">
            <p>&copy; @DateTime.Now.Year - InfoServ Chat</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
